langchain
langchain-community
langchain-groq
huggingface-hub
streamlit
python-dotenv
unstructured
sentence-transformers
unstructured[pdf]
PyPDF2
io
streamlit_option_menu
youtubesearchpython
googlesearch
